<div class="card">
  <p-toast />
  <p-table [value]="data" [dataKey]="dataKey" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template #header>
      <tr>
        <th *ngFor="let col of columns" [style.width]="col.width || 'auto'">
          {{ col.header }}
        </th>
        <th style="width:10%">Ações</th>
      </tr>
    </ng-template>

    <ng-template #body let-item let-ri="rowIndex">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.type === 'status'">
            <div class="status-cell">
              <span class="status-dot" [style.background-color]="getStatusColor(item[col.field])"></span>
            </div>
          </ng-container>
          <ng-container *ngIf="col.type !== 'status'">
            {{ item[col.field] }}
          </ng-container>
        </td>

        <td>
          <div class="flex items-center justify-center">
            <button pButton pRipple type="button"
              icon="pi pi-ellipsis-h"
              (click)="openPopover($event, actionPopover, item)"
              class="p-button-text p-button-rounded p-button-secondary">
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-popover #actionPopover>
    <div class="popover-actions">
      <button pButton pRipple type="button"
        label="Alterar" icon="pi pi-pencil"
        class="p-button-text"
        (click)="executeAction('edit', actionPopover)">
      </button>
      <button *ngFor="let act of actions"
        pButton pRipple type="button"
        [label]="act.label"
        [icon]="act.icon"
        [class]="'p-button-text ' + (act.buttonClass || '')"
        (click)="executeAction(act.action, actionPopover)">
      </button>
    </div>
  </p-popover>
</div>
